@use "utilities" as *;

// buttons

.button-primary {
  position: relative;
  min-height: 45px;
  min-width: 310px;
  width: clamp(310px, 30%, 410px);
  padding: $padding-small calc($base-padding * 3);
  border-radius: calc($base-border-radius * 0.7);
  background-color: $kyky-primary-dark;
  color: $white;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  box-shadow: $base-box-shadow;
  margin: calc($base-margin * 1) 0;

  a {
    color: unset;
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0%;
    top: 0%;
  }
}

// cards

.card-light {
  background-color: $white;
  border: none;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
}

.material-icons-outlined {
  font-size: 38px !important;
}