@use '_utilities' as *;

/* Layout elements like;
  - containers
  - grids
  - sections */

#root {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

body {
  color: $black;
  font-size: $base-font-size;
  font-family: $font-family-default;
  background-color: $grayscale-light;
}

header {
  position: sticky;
  width: 100%;
  background-color: white;
  padding: $base-padding;
  color: gray;
  font-size: $base-font-size;
  font-family: $font-family-default;
  z-index: 5;

  .component-header {
    // delete this after not needed anymore
    display: flex;
    padding: 10px;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    gap: 1em;
    z-index: 1;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);

    nav.component-selector a {
      color: gray;
      text-decoration: none;
    }
  }
}

// FORMS

form,
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-xlarge;
  padding-bottom: $padding-xlarge;
  margin: $base-margin;

  &.wide {
    @include elemWidth($wide);
  }

  &.medium {
    @include elemWidth($medium);
  }

  &.small {
    @include elemWidth($small);
  }

  h1 {
    text-align: center;
    margin: 0 0 $base-margin;
  }

  section {
    margin-bottom: $base-margin;
    width: 100%;
  }
}

/* Wrapper class, used to center elements e.g. in the main component */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &.column {
    flex-direction: column;
  }

  &.fixed-centered {
    justify-content: center;
    align-items: center;
  }
}
