@use "utilities" as *;

body {
  color: $black;
  font-size: $base-font-size;
  font-family: $font-family-default;
}

// FOOTER

footer.main-footer {
  background-color: $grayscale-medium-dark;
  display: flex;
  flex-wrap: wrap;
  padding: $padding-medium-large 0;
  justify-content: center;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: $base-margin;
    white-space: nowrap;
    margin: 0 5%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }

  h1 {
    color: $kyky-primary-default;
    font-size: calc($font-size-xxl * 0.9);
  }
}

// FORMS

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 $padding-large;
  padding-bottom: $padding-large;
  margin: $base-margin;

  &.wide {
    width: clamp(calc($wide/2), 100%, $wide);
  }

  &.small {
    width: clamp(calc($small/2), 100%, $small);
  }

  h1 {
    text-align: center;
    margin: $base-margin 0;
  }

  section {
    margin-bottom: $base-margin;
    width: 100%;
  }

  // checkboxes

  .checkbox-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: calc($base-margin / 2) 0;

    label {
      font-size: $font-size-s;
      display: inline-block;
      margin-left: 20px;
    }

    input[type=checkbox] {
      width: 17px;
      height: 17px;
      border-radius: none;
      border: calc($base-border-thickness*2) solid $black;
      box-shadow: $base-box-shadow;
      background-color: transparent;
    }

    &.no-shadow {
      input {
        box-shadow: none;
      }
    }
  }

  // form fields

  .input-container {
    display: grid;
    grid-template-columns: minmax(110px, 635px) 3em;
    grid-template-rows: auto 40px;
    margin-bottom: $base-margin;

    input {
      grid-row: 2/3;
      height: 100%;
      width: 100%;
      border: $base-border-thickness solid $grayscale-medium-light;
      border-radius: calc($base-border-radius * 0.7);
      font-weight: $font-weight-light;
      font-size: $font-size-s;
      padding: $padding-medium;
      padding-left: $padding-medium-large;
      color: $black;
      background-color: transparent;
    }

    label {
      grid-row: 1/2;
      margin-bottom: calc($base-margin / 2);
    }

    icon {
      display: flex;
      align-self: center;
      justify-content: flex-end;
      grid-row: 2/3;
    }

    &.error {
      input {
        border: calc($base-border-thickness * 5) solid $alert-red;
      }
    }
  }
}

// SANDBOX

.sandbox {
  background-color: $grayscale-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  form {
    max-width: $wide;
  }
}