@use "utilities" as *;

body {
  color: $black;
  font-size: $base-font-size;
  font-family: $font-family-default;
}

// FORMS

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 $padding-large;
  padding-bottom: $padding-xlarge;
  margin: $base-margin;

  &.wide {
    width: clamp(calc($wide/2), 100%, $wide);
  }

  &.small {
    width: clamp(calc($small/2), 100%, $small);
  }

  h1 {
    text-align: center;
    margin: $base-margin 0;
  }

  section {
    margin-bottom: $base-margin;
    width: 100%;
  }

  span.login-help {
    font-size: $font-size-xl;

    a {
      font-weight: $font-weight-bold;
    }
  }
}

// SANDBOX

.sandbox {
  background-color: $grayscale-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  form {
    max-width: $wide;
  }
}