@use "utilities" as *;

/* Profile creation styles */

.profile {
  background-color: $grayscale-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  form {
    width: $wide;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $padding-large;
    padding-bottom: $padding-large;
    margin: $base-margin;

    section {
      width: 65%;
      text-align: center;

      label {
        text-align: left;
      }
    }
  }
}

.profile-pic {
  position: relative;
  width: 12rem;
  height: 12rem;
  text-align: center;

  &:hover {
    cursor: pointer;

    img {
      filter: brightness(0.4);
    }

    p {
      opacity: 1;
    }
  }

  img {
    transition: 180ms filter;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    will-change: filter;
  }

  .profile-pic-plus {
    position: absolute;
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    border: 0.25rem solid black;
    width: 2rem;
    border-radius: 50%;
    bottom: 1.75rem;
    right: 2.25rem;
  }

  p {
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
  }

  .profile-pic-add-text {
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 3rem;
    transform: translate(-50%);
    opacity: 0;
  }
}

.input-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $base-margin;
}

.input-label-required {
  &:after {
    content: " *";
    color: red;
 }
}

.contact-form {
  background-color: $grayscale-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 2em;

  h1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 2.5rem;
  }

  h2 {
    margin-top: 3.5em;
    margin-bottom: 2em;
    font-size: 1.8rem;
  }

  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $padding-large;
    padding-bottom: $padding-large;
    margin: $base-margin;

    section {
      width: 60%;
      margin-left: 60px;
    }
  }
}

.faq-section {
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;

  h1 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

.info-section {
  line-height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-number {
  color: $kyky-primary-dark;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 10px;
}

.kyky-email {
  font-size: 1.5rem;
  margin-top: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
}
