@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// UI colors

$black: #000000;
$white: #ffffff;

$grayscale-light: #f8f9f8;
$grayscale-medium-light: #cccccc;
$grayscale-medium: #808080;
$grayscale-medium-dark: #25282b;
$grayscale-darker: #1a1a1a;
$grayscale-darkest: #1b1b1b;

$kyky-primary-dark: #387a70;
$kyky-primary-default: #18c7ad;

$alert-red: #f51720;

// font styles

$font-family-default: 'Roboto', sans-serif;

// font sizes

$base-font-size: 1rem; //--16px
$font-size-xxs: calc($base-font-size * 0.75); //--12px
$font-size-xs: calc($base-font-size * 0.813); //--13px
$font-size-s: calc($base-font-size * 0.875); //--14px
$font-size-l: calc($base-font-size * 1.125); //--18px
$font-size-xl: calc($base-font-size * 1.25); //--20px
$font-size-xxl: calc($base-font-size * 1.875); //--30px

// font weights

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

//line-height

$base-line-height: 20px;

//margins
$base-margin: 1em; //--16px

//paddings
$base-padding: 1em; //--16px
$padding-small: calc($base-padding * 0.469); //--7.5px
$padding-medium: calc($base-padding * 0.844); //--13.5px
$padding-medium-large: calc($base-padding * 1.563); //--25px
$padding-large: calc($base-padding * 1.875); //--30px

// shadows

$base-box-shadow: 0px 4px 4px 0px #00000040;

// borders

$base-border-thickness: 1px;

$base-border-radius: 10px;