/* Styles for BuyersRating.js starts here. */
.buyersRating {
  display: flex;
  flex-direction: row;
  height: 94vh;
  width: 100vw;

  .buyersRatingMainContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 94vh;
    width: 87vw;
    background-color: #eef5f4;
    padding-left: 40px;
    padding-right: 40px;

    h3 {
      display: flex;
      margin: auto;
      flex-direction: row;
      height: fit-content;
      width: auto;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      color: black;
    }

    .howDoYouRate {
      display: flex;
      position: relative;
      margin-right: 62%;
    }

    .buyersRatingContainer1 {
      width: 65vw;
      min-width: 0;
      height: fit-content;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      margin-top: 1%;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .buyerAttributes {
      display: flex;
      margin-right: 30px;
      font-size: larger;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      height: 65px;
      width: 20%;
      min-width: none;
      margin-bottom: 20px;
      background-color: #bfd3d0;
      box-shadow: 1px 1px 1px #9ec0bb;
      border-radius: 13px;
    }

    .buyerAttributes:hover {
      box-shadow: 0 0 5px #021b18;
    }

    .buyerAttributes2 {
      display: flex;
      margin-right: 30px;
      font-size: larger;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      height: 65px;
      width: 20%;
      min-width: none;
      margin-bottom: 20px;
      background-color: #063831;
      color: white;
      box-shadow: 1px 1px 1px #9ec0bb;
      border-radius: 13px;
    }

    .buyerTextArea {
      width: 55vw;
      height: 15vh;
      border: 1px solid rgb(182 181 181);
      border-radius: 5px;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      margin-top: 80px;
      padding: 5px;
    }

    .buyersRatingContainer2 {
      height: fit-content;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 30px;

      h3 {
        color: black;
      }

      .star:hover path {
        cursor: pointer;
        fill: goldenrod;
      }

      .submitButton {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #387a70;
        font-size: 1rem;
        height: 40px;
        width: 150px;
        border-radius: 10px;
        margin: 0 25px;
      }
    }

    .starContainer {
      display: flex;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .buyerSideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    width: 13vw;
    background-color: #166d60;
    z-index: 1;
    margin: 0;
    margin-bottom: auto;
    padding: 0 40px;

    h3 {
      color: white;
    }

    .profilePic {
      height: 150px;
      width: 150px;
      padding: 40px 0 20px;
    }
  }
}

/* Styles for ThanksForRating.js starts here. */

.thanksForRating {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #eef5f4;

  .heart1 {
    position: relative;
    top: 100px;
    left: 50px;
  }

  .heart2 {
    position: relative;
    top: -100px;
    left: -50px;
  }

  .heart3 {
    position: relative;
    top: 150px;
    left: 250px;
  }

  .heart4 {
    position: relative;
    top: 200px;
    left: 550px;
  }

  .heart5 {
    position: relative;
    top: -300px;
    left: 150px;
  }

  .heart6 {
    position: relative;
    top: -200px;
    left: 450px;
  }

  .heart7 {
    position: relative;
    top: 400px;
    left: 350px;
  }

  .heart8 {
    position: relative;
    top: 200px;
    left: 650px;
  }
}
