h4 {
  color: #00a088;
}

.username {
  color: #1a1a1a;
  padding: 1rem;
}

.userImage {
  margin-top: 2rem;
}

.selected-tab {
  border-bottom: #00a088 solid 7px;

  > h3 {
    color: #00a088 !important;
  }
}

.buyers-profile--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #f8f9f8;

  .title {
    padding: 2rem;
    background: #f8f9f8;
    border-top: gainsboro solid 1px;
  }

  .buyers-profile--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }

  .buyers-profile--content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    border: #c4c4c4 solid 1px;

    .buyers-profile--tabs {
      display: flex;
      flex-direction: row;
      min-width: 100%;
      background: #f8f9f8;

      .buyers-profile--button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 10rem;
        min-height: 4rem;
        flex: 1 1 0;
        cursor: pointer;

        h3 {
          color: #817b7b;
        }
      }
    }

    .buyers-profile--content {
      min-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;

      .buyers-profile--content-orders-container {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        background: white;
        border-bottom: #9c9797 solid 1px;

        .buyers-profile-table {
          width: 100%;

          thead {
            background: #d9d9d9;

            tr {
              height: 50px;

              th {
                padding-left: 20px;
                padding-right: 20px;
                text-align: right;
              }

              .job-header {
                width: 30%;
                text-align: left;
              }

              .seller-header {
                width: 20%;
                text-align: left;
              }

              .sum-header {
                width: 6%;
              }

              .ordered-header {
                width: 20%;
              }

              .delivered-header {
                width: 20%;
              }
            }
          }

          tbody {
            background: white;

            tr {
              td {
                padding: 10px 20px;
                text-align: right;
              }

              .job-div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10px;

                .job-image-small {
                  width: 60px;
                }

                span {
                  text-align: left;
                }
              }

              .seller-div {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.order-information {
  display: flex;
  justify-content: center;
  min-width: 100%;

  .order-information--title-and-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    .title-background {
      background: #dbdbdb;
    }

    .description {
      padding: 0.2rem;
    }

    > div > h4 {
      color: #1a1a1a;
      padding: 0.2rem;
    }
  }
}
