.category-main {
  display: flex;
  flex-direction: column;
  min-height: 800px;

  h1 {
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }

  .card-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
