.filter-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
  height: 50px;
  background: #f8f9f8;
  box-shadow: 0 4px 4px #00000040;
  border-radius: 16px;

  .filters-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    .search-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-right: 1px solid #c4c4c4;
      width: 33%;
      padding: 0 10px;
      gap: 4px;

      .search-title {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .search-input {
        display: flex;
        justify-content: flex-start;

        input {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 275;
          font-size: 12px;
          line-height: 14px;
          background: transparent;
          border: none;
          outline-width: 0;
        }
      }

      .search-dropdown {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #f8f9f8;
        width: 674px;
        box-shadow: 0 4px 4px #00000040;
        border-radius: 0 0 11px 11px;
        top: 70px;
        z-index: 1;
        padding: 20px;

        .search-item {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          height: 25px;
          cursor: pointer;
        }
      }
    }

    .location-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-right: 1px solid #c4c4c4;
      width: 22%;
      padding: 0 10px;
      gap: 4px;
      cursor: pointer;

      .location-title {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .location-text {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 275;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .location-dropdown {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: fixed;
        background: #f8f9f8;
        width: 451px;
        box-shadow: 0 4px 4px #00000040;
        border-radius: 0 0 11px 11px;
        top: 70px;
        z-index: 1;
        padding: 10px;

        .location-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          height: 29px;
          padding: 0 15px;
          cursor: pointer;

          &:hover {
            background-color: #918e8e;
          }
        }
      }
    }

    .category-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-right: 1px solid #c4c4c4;
      width: 22%;
      padding: 0 10px;
      gap: 4px;
      cursor: pointer;

      .category-title {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .category-text {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 275;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .price-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 22%;
      padding: 0 10px;
      gap: 4px;
      cursor: pointer;

      .price-title {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .price-text {
        display: flex;
        justify-content: flex-start;

        p {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 275;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 100%;
    background: #00a088;
    color: white;
    border-radius: 0 16px 16px 0;
    cursor: pointer;

    span {
      font-size: 24px !important;
    }
  }
}
