#navheader {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid lightgrey;
  height: 80px;
  padding: 0 40px;
}

.nav-title {
  margin-right: auto;
}

nav ul {
  display: flex;
  align-items: center;
}

#navheader li {
  list-style: none;
  display: inline-block;
  padding: 0 50px;
  cursor: pointer;
}

.profile-img {
  height: 33px;
  border-radius: 50%;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 darkgray;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.calendar-icon-hovertext {
  position: relative;
  display: inline-block;
}

.calendar-icon-hovertext .hovertext {
  visibility: hidden;
  text-align: center;
  border: 1px #9c9797 solid;
  position: absolute;
  font-size: 13px;
  padding: 2px;
  z-index: 1;
  top: 37px;
  left: -9px;
  transition-property: visibility;
  transition-delay: 0s;
}

.calendar-icon-hovertext:hover .hovertext {
  visibility: visible;
  transition-delay: 0.3s;
}
