@use "_utilities" as *;

.job-calendar-overview {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  .side-bar {
    position: relative;
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $grayscale-light;
    border-radius: 0.25rem;

    .bookings-short {
      width: 450px;
      height: calc(100% - 475px);
      overflow: hidden;
      overflow-y: auto;

      :nth-child(even).job-short {
        background: $kyky-primary-light;
      }

      :nth-child(odd).job-short {
        background: $kyky-primary-lighter;
      }

      p {
        text-align: center;
        font-size: 1.5rem;
        margin: 0.75rem;
      }

      .job-short {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        p {
          font-size: 1rem;
        }

        .title {
          font-weight: $font-weight-bold;
          text-transform: capitalize;
        }

        .time {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 130px;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .time-table {
    position: relative;
    width: calc(100% - 550px);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;

    .time {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        margin: 1rem;
      }
    }

    .bookings {
      position: absolute;
      width: calc(100% - 75px);
      left: 75px;
      top: 0;
    }

    .booking {
      position: absolute;
      width: calc(100% - 80px);
      left: 70px;
      background: $kyky-primary-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 1rem;
        text-transform: capitalize;
      }

      &.light {
        background: $kyky-primary-lighter;
      }
    }
  }
}
