@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.landing-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #387a701a;
}

.landing-page-nav-and-image-container {
  display: flex;
  margin-left: 5em;
  margin-top: 3em;
}

.landing-page-navigation {
  display: flex;
  flex-direction: column;
}

.landing-page-navigation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
}

.landing-page-navigation-container button {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  border-bottom: #00a088 1px solid;
  margin-bottom: 1em;
}

.landing-page-footer {
  display: flex;
  justify-content: center;
}

.landing-page-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img {
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 600px;
  }
}

.landing-page-image h1 {
  font-family: 'Lilita One', cursive;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0.03em;
  color: #063831;
}

.landing-page-footer button {
  display: flex;
  align-items: center;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #002520;
  background: #0638311a;
  border: 1px solid #00a088;
  border-radius: 91px;
  height: 3em;
  width: min-content;
  padding: 1em;
  margin-right: 3em;
  margin-left: 3em;
  justify-content: center;
}
