@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.landing-page-main {
  display: flex;
  justify-content: center;
  background: #E8FEF8;

  .landing-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 100px;
    width: 1440px;
  
    .landing-page-left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 42.3%;
      padding: 60px;
      gap: 30px;
  
      .landing-page-title {
        display: flex;
        justify-content: center;
  
        p {
          font-family: 'Lilita One', cursive;
          font-style: normal;
          font-weight: 400;
          font-size: 74px;
          line-height: 85px;
          text-align: center;
          letter-spacing: 0.03em;
          color: #063831;
        }
      }
  
      .landing-page-description {
        display: flex;
        justify-content: center;
        padding: 0 40px;
  
        p {
          display: flex;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          align-items: center;
        }
      }
  
      .landing-page-buttons-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        width: 100%;
  
        .browsing-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 189px;
          height: 45px;
          background: #00A088;
          color: white;
          border-radius: 13px;
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
        }
  
        .join-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 189px;
          height: 45px;
          background: white;
          color: #00A088;
          border: 2px solid #00A088;
          border-radius: 13px;
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
        }
      }
    }
  
    .landing-page-right-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 57.7%;
      padding: 60px 60px 40px 8px;
      gap: 40px;
  
      .landing-page-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 759px;
        height: fit-content;
      }
  
      .landing-page-navigation-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
  
        button {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          background: #E8FEF8;
          color: #063831;
  
          &:hover {
            background: #063831;
            color: white;
          }
        }
      }
    }
  }
}

