@use '_utilities' as *;

h1 {
  font-weight: 300;
}
h3 {
  font-size: 20px;
  font-family: 'Poppins';
  color: #00a088;
}
h4 {
  font-family: 'Poppins';
}
p {
  font-family: 'Poppins';
}
label {
  font-family: 'Poppins';
}
input {
  font-family: 'Roboto';
}
.mainContainer1 {
  display: flex;
  height: fit-content;
  width: min (1200px, 100%);
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}
.leftContainer {
  font-family: 'Ubuntu', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 450px;
  width: 600px;
  //border: 2px solid black;
  position: relative;
}
.profileIcon {
  position: relative;
  top: 48px;
}
.profileNotice {
  color: #387a70;
  position: relative;
  left: 35px;
}

.getStarted {
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  font-size: 15px;
  height: 40px;
  width: 150px;
  border: 2px solid #00a088;
  border-radius: 20px;
  background: white;
}
.linkedIn {
  font-family: 'Ubuntu';
  font-size: 15px;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  color: white;
  background-color: #0072b1;
}
.rightContainer {
  p {
    text-align: center;
  }
  font-family: 'Ubuntu', sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
  height: fit-content;
  width: min(400px, 100%);
  border: 1px solid rgb(221, 206, 206);
  position: relative;

  .dogPic {
    border-radius: 10px;
    position: relative;
    bottom: 15px;
  }
  .rating {
    position: relative;
    right: 160px;
    color: #387a70;
  }
  .price {
    position: relative;
    left: 160px;
    bottom: 20px;
  }
  .quoteContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.get-started {
  h1 {
    font-size: 40px;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  p {
    color: #387a70;
    text-align: center;
  }
  .mainContainer {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleContainer {
    height: auto;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .getStartedInput {
    height: 50px;
    width: 400px;
    margin: 200px 0px 200px 0px;
    text-align: left;
    font-family: 'Poppins';
    border: 1px solid #00a088;
    border-radius: 10px;
  }
  #titleInput {
    text-align: center;
  }
  .nextButton,
  .submitButton {
    font-size: 16px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: white;
    background-color: #387a70;
    margin: auto;
  }
  .experienceContainer {
    display: flex;
    height: fit-content;
    width: min(1000px, 100%);
    margin: 150px 0px 150px 0px;
    justify-content: space-around;
    position: relative;
    gap: 80px;
    flex-wrap: wrap;
  }
  .addExperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(129, 123, 123);
    height: 250px;
    width: 400px;
    border: 2px dashed #387a70;
    border-radius: 10px;
    position: relative;
  }
  .picIcon {
    position: relative;
    margin: 10px;
    font-weight: 700;
    font-size: 1.25rem;
    border: 0.25rem solid black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #387a70;
  }
  .workContainer,
  .educationContainer {
    font-family: 'Inter';
    display: flex;
    background-color: white;
    height: 500px;
    width: 700px;
    border: 1px solid #387a70;
    border-radius: 10px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    padding-left: 100px;
    padding-top: 20px;
    z-index: 11;

    justify-content: space-around;
    position: relative;
    bottom: 600px;
    left: 100px;
  }

  .inputLong {
    display: flex;
    flex-direction: column;

    height: 40px;
    width: 400px;
    label {
      padding-bottom: 10px;
      background: none;
      box-shadow: none;
    }
  }
  .inputShort {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    label {
      padding-bottom: 5px;
      background: none;
      box-shadow: none;
    }
  }

  .countryList {
    display: flex;
    height: 10px;
    width: 200px;

    left: 285px;
    bottom: 70px;
  }

  .saveButton {
    font-family: 'Inter';
    font-size: 16px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: white;
    background-color: #387a70;
    position: relative;
    left: 300px;
  }
}

.step {
  margin: auto 20px;

  #addLanguageButton {
    display: flex;
    column-gap: 15px;
    padding: 0;
    background: none;

    * {
      align-self: center;
    }
  }

  .material-icons-outlined {
    color: $kyky-primary-dark;
  }

  [class$='-indicatorSeparator'] {
    background-color: initial;
  }

  [class$='-indicatorContainer'] svg {
    fill: $kyky-primary-dark;
  }

  [class$='-option'] {
    background-color: initial;
    color: initial;

    .optionContainer {
      display: flex;
      flex-direction: row;
      column-gap: 8px;

      #checkMark,
      #noCheckMark {
        align-self: center;
        width: 15px;
        height: 12px;
      }

      .optionLabelTextBold {
        font-weight: 600;
      }
    }
  }
}

.formContainer {
  font-family: 'Inter';
  display: flex;
  background-color: white;
  height: 400px;
  width: 500px;
  border: 1px solid #387a70;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  justify-content: space-around;
}

.languageFormContainer {
  height: auto;
  gap: 25px;
  border: 1px solid $kyky-primary-dark;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto 20px auto;

  .languageRow {
    display: flex;
    flex-direction: row;

    label {
      flex-basis: 25%;
      align-self: center;
    }

    .select-container {
      flex-basis: 75%;
    }
  }

  h3,
  #addLanguageButton {
    margin: 10px 0;
  }
}

.workInput {
  display: flex;
  height: 380px;
  width: 700px;
  border: 1px solid #00a088;
  border-radius: 1%;
  text-align: start;
  font-family: 'Poppins';
  font-size: 20px;
  margin: 50px 0px 100px 0px;
  padding: 10px;
  resize: vertical;
}
.select-container2 {
  width: 400px;
  margin: 50px 0px 200px 0px;
}
.hourlyContainer {
  display: flex;
  height: 50px;
  width: 550px;
  justify-content: space-between;
  margin: 150px 0px 150px 0px;
 
}
.hourlyInput {
  height: 50px;
  width: 150px;
  text-align: right;
  font-family: 'Poppins';
  border: 1px solid #00a088;
 
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 10px;
}
.totalAmount {
  color: #00a088;
  position: relative;
  bottom: 100px;
}

.detailsMainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: min(1200px, 100%);
  height: fit-content;

  .photoContainer {
    display: flex;
    height: 600px;
    width: 250px;
    border: 1px solid rgb(160, 158, 158);
    padding: 30px 20px 350px 20px;
    flex-direction: column;
    align-items: center;
    .uploadPhotoButton {
      font-size: 16px;
      font-family: 'Poppins';
      height: 40px;
      width: 200px;
      border-radius: 20px;
      color: #387a70;
      background-color: #ffffff;
      border: 1px solid #387a70;
      margin: auto;
    }
  }
  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    width: 450px;

    position: relative;
    left: 100px;

    label {
      color: #636262;
    }
    .detailsInput {
      width: 400px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #636232;
    }
    .detailsInputShort {
      width: 180px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #636232;
    }
    .detailsInputPhone {
      width: 400px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #636232;
      position: relative;

      text-align: center;
    }
    .select-container3 {
      width: 200px;
    }
    .select-container4 {
      width: 110px;
      z-index: 1;
      border: 1px solid #636232;
      border-radius: 5px;
    }
  }
}
.zipCode {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  position: relative;
  bottom: 95px;
  left: 270px;
}
.phoneContainer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  bottom: 80px;
}
.addPhotoContainer {
  height: 500px;
  width: 530px;
  display: flex;
  border: 1px solid rgb(146, 143, 143);
  border-radius: 10px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  position: relative;
  bottom: 400px;
  left: 100px;
  z-index: 10;
  .addPhotoTxtContainer {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .selectImgButton {
      font-family: 'Poppins';
      border-radius: 20px;
      height: 40px;
      width: 200px;
      background-color: #ffffff;
      color: #00a088;
      border: 1px solid black;
    }
  }
  .addPhotoBtnContainer {
    display: flex;
    height: 45px;
    width: 300px;
    justify-content: space-between;
    .addPhotoButton1 {
      font-family: 'Poppins';
      border-radius: 20px;
      height: 40px;
      width: 120px;
      background-color: white;
      color: #00a088;
      border: 1px solid black;
    }
  }
  .addPhotoButton2 {
    font-family: 'Poppins';
    border-radius: 20px;
    height: 40px;
    width: 120px;
    background-color: #387a70;
    color: white;
    border: 1px solid black;
  }
}

.previewContainer2 {
  height:fit-content;
  width: 800px;
  border: 1px solid black;
  padding: 50px 50px 80px 50px;
  gap: 50px;
  .skillContainer {
    display: flex;
    width: 800px;
    
    .skill {
      display: flex;
      height: fit-content;
      width: fit-content;
      border-radius: 13px;
      margin: 20px;
      padding: 10px 20px 10px 20px;
      background-color: #063831;
      color: #ffffff;
    }
  }
}

.previewContainer3,
.previewContainer4 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 800px;
  border: 1px solid black;
  padding: 50px 50px 80px 50px;
  gap: 50px;
  p {
    text-align: start;
    color: black;
    opacity: 0.7;
  }
}
