.booking-page-content {
  height: min-content;
  background: #f8f9f8;
}

.service-booking-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5%;
  gap: 10%;
  justify-content: center;

  h1 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .service-booking-left-panel {
    display: flex;
    flex-direction: column;
    width: 40rem;

    .service-booking-left-panel-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .service-booking-left-panel-header {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-bottom: 1rem;

        h2 {
          font-size: 16px;
          margin-right: 5px;
        }

        .username-commented-as {
          display: flex;
        }

        .service-booking-left-panel-image {
          width: 100%;
          height: 470px;
          object-fit: cover;
        }

        p {
          font-style: italic;
          font-size: 16px;
          color: #063831;
        }
      }

      .service-booking-left-panel-price {
        display: flex;

        .price {
          display: flex;
          align-items: center;
          font-size: 26px;
        }
      }
    }

    .service-booking-left-panel-image-content {
      position: relative;
      height: 500px;

      .service-booking-left-panel-image {
        width: 100%;
      }

      .arrow-left {
        position: absolute;
        color: white;
        top: 47%;
        right: 93%;
        cursor: pointer;
      }

      .arrow-right {
        position: absolute;
        color: white;
        top: 47%;
        right: 1%;
        cursor: pointer;
      }
    }
  }

  .service-booking-right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .service-booking-right-panel-continue-button {
      display: flex;
      justify-content: center;

      button {
        box-shadow: none;
        width: 80%;
      }
    }

    .service-booking-right-panel-content {
      min-height: 59vh;
      width: 34vw;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .service-booking-right-panel-tabs {
        display: flex;
        width: 100%;
        text-align: center;
      }

      .recurring-tab-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          padding: 2rem;

          .checkbox-wrapper-row {
            display: flex;
            align-items: center;
            min-height: 40px;

            .recurring-text {
              width: 50%;
              font-size: 18px;

              .checkbox {
                margin-right: 1rem;
              }
            }

            .recurring-price {
              width: 15%;
              font-family: Poppins, sans-serif;
              font-weight: bold;
              color: #00a088;
            }

            .multiple-select {
              width: 35%;
            }
          }
        }
      }

      .panel-button {
        font-family: Poppins, sans-serif;
        font-weight: bold;
        font-size: 1vw;
        color: #808080;
        border-right: 0.5px solid #c4c4c4;
        border-bottom: #c4c4c4 solid 2px;
        flex: 1 1 0;
        padding: 1rem;
        cursor: pointer;
      }

      .selected {
        border-bottom: #00a088 solid 7px;
      }
    }
  }
}

.service-booking-footer {
  display: flex;
  justify-content: center;

  .service-booking-footer-button {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      box-shadow: none;
      background-color: white;
      border: #c4c4c4 solid 1px;
      color: #c4c4c4;
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

.checkbox-container {
  box-shadow: none !important;
}

.transparent-background {
  background: rgb(0 0 0 / 70%) !important;
  border: none !important;
  width: 100%;
  height: 100%;
}

.calendar-modal {
  background: white;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border: 1px #9c9797 solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .calendar-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .calendar-modal-button {
      background-color: #387a70;
      color: white;
      font-family: Poppins, sans-serif;
      border-radius: 7px;
      margin: 2px;
    }
  }
}

.guest-modal {
  background: white;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border: 1px #9c9797 solid;
  padding: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .guest-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .guest-modal-button {
      background-color: #387a70;
      color: white;
      font-family: Poppins, sans-serif;
      border-radius: 7px;
      margin: 2px;
    }

    .guest-modal-button-disabled {
      background-color: gray;
      color: white;
      font-family: Poppins, sans-serif;
      border-radius: 7px;
      margin: 2px;
    }
  }
}

.vat-terms {
  display: flex;
  align-items: center;
  justify-content: center;

  .checkbox-label {
    margin-left: 6px;
  }
}

@media (max-width: 1500px) {
  .service-booking-container {
    flex-direction: column;
    align-items: center;

    .service-booking-right-panel {
      margin-top: 2rem;

      .service-booking-right-panel-content {
        width: 521px;
      }

      .service-booking-right-panel-tabs {
        .panel-button {
          font-size: 2vw;
        }
      }
    }
  }
}
